<head>
    <title>Santron Computers</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>

<template name="santronPricingUpload">
    <body>
        {{> slider}}
        <div class="cbp-spmenu-push" id="bodyDIV">
            <div class="overDivCSS" id="overDiv"></div>

            <!-- {{#if currentUser}} -->
                {{> navBar}}
            <!-- {{/if}} -->

            <div class="rightPanel" style="
                {{#if currentUser}}
                    margin-top:51px !important;
                {{else}}
                    padding: 0px 0px 0px 0px;
                {{/if}}">

                {{>yield}}                
            </div>
        </div>
    </body>
</template>