<template name="login_signInTemplate">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4">
        <div class="loginBackgroundStyle">
            {{#if loginTemplate}}
                {{> Login}}
            {{/if}}

            {{#if registerTemplate}}
                {{> Register}}
            {{/if}}

            {{#if forgotPwTemplate}}
                {{> ForgotPassword}}
            {{/if}}
        </div>
    </div>

    <!-- {{> ResetPassword}} -->
</template>