<template name="login_signInTemplate">
    <div class="loginPageCss">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-bottom: thin solid #be481a;height:13%;">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 appName_loginPageCss">
                Santron Computers
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 backStyle">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 welcomeText" >
                <h3>Welcome to Santron Computers,</h3>
                <h5>Indias oldest microretail superstore is online.</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 loginBackgroundStyle">
                <div class="">
                    {{#if loginTemplate}}
                        {{> Login}}
                    {{/if}}

                    {{#if registerTemplate}}
                        {{> Register}}
                    {{/if}}

                    {{#if forgotPwTemplate}}
                        {{> ForgotPassword}}
                    {{/if}}
                </div>
            </div>
        </div>

    </div>

    <!-- {{> ResetPassword}} -->
</template>