<template name="navBar">
    <div class="navbarStyle" id="fixed-top" style="
                                                {{#if isOnPhone}}
                                                box-shadow: inset 0px 0px #fff, 0 1px 3px rgba(34,25,25,0.4);
                                                -moz-box-shadow: inset 0px 0px #fff, 0 1px 3px rgba(34,25,25,0.4);
                                                -webkit-box-shadow: inset 0px 0px #fff, 0 1px 3px rgba(34,25,25,0.4);
                                                {{/if}}"
                                                >
        {{> nav}}

        {{#if isOnHomePage}}
            {{>mainMenu}}
        {{/if}}

        {{>productDetailsMenu}}
    </div>

</template>

<template name="nav">
    <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
        <!-- {{#if isOnPhone}} -->
            <button id="showLeft" class="btn btn-lg fa fa-bars fa-2x transparentButton"></button>
        <!-- {{/if}} -->
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9 navbarTitle" style="
                                                                        {{#if isOnPhone}}text-align : center;{{/if}}">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3 titleClick">
                {{getApplicationName}}
            </div>
       
            <div class="col-md-8 col-sm-12 col-xs-12 col-lg-8">
                {{#if isOnHomePage}}
                {{else}}
                    <div class="search">
                        <span class="fa fa-search"></span>
                        <input type="text" class="form-control" id="txtSearchBox" placeholder="Search text"/>
                        <span class="fa fa-times backTransparent" style="color:#FF2F2F;cursor:pointer;"></span> 
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
       <!--  {{#if isOnPhone}}
        {{else}} -->
           {{#if currentUser}}
                <div class="logout">
                    LOGOUT
                </div>
            {{/if}}
        <!-- {{/if}} -->
    </div>
</template>

<template name="mainMenu">
    <div id="mainMenu" class="subTopHeaderCss">
        <nav>
            <ul>
                {{#each getUniqueProucts}}
                <li>
                    <a href="">
                        {{maincategory}}
                        <i class="fa fa-angle-down" style="margin-left:3px;"></i>
                    </a>
                    <ul style="display: none;" class="sub_menu">
                        <div class="col-lg-12 col-md-12">
                            {{#each subcategories}}
                                <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <a href="" class="subCategoryBtn" subcategory="{{this}}" category="{{../maincategory}}">{{this}}</a>
                                </li>
                            {{/each}}
                        </div>
                    </ul>
                </li>
                {{/each}}
            </ul>
        </nav>
    </div>
</template>

<template name="productDetailsMenu">

    {{#with getFilterComponents}}
        <div class="productCompany subTopHeaderCss" style="overflow-x:auto;overflow-y:hidden;">
            <ul>
                {{#each companies}}
                    <li class="">
                        <input type="checkbox" value="{{this}}" id="{{this}}" class="checkboxList css-checkbox" />
                        <label for="{{this}}" class="css-label">{{this}}</label>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/with}}
</template>

<template name="searchPanel">
    <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
        <button type="button" class="btn fa fa-angle-left fa-2x transparentButton backFromSearch" style="float:left;font-size:30px;line-height:30px;"></button>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-10 col-lg-10">
        <input type="text" id="txtSearchBox" name="txtSearchBox" placeholder="Search text" class="form-control" required autofocus>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
        <button type="button" class="transparentButton clearSearchSession" style="float:right;font-size:30px;line-height:30px;">×</button>
    </div>
</template>