<template name="newNavBar">
	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo" style="padding-left:2%;">Logo</a>
			<ul class="right hide-on-med-and-down">
				<li>
					<form>
						<div class="input-field">
						  <input id="search" type="search" required>
						  <label for="search"><i class="material-icons">search</i></label>
						  <i class="material-icons">close</i>
						</div>
					</form>
				</li>
				<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
			</ul>

			<ul id="slide-out" class="side-nav" style="width: 240px;">
				<li class="logo"><a id="logo-container" href="http://materializecss.com/" class="brand-logo">Santron Computers</a>
				</li>
				<li class="search">
				  <div class="search-wrapper card">
				    <input id="search"><i class="material-icons">search</i>
				    <div class="search-results"></div>
				  </div>
				</li>
				<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
				<li class="divider"></li>
				<li><a class="dropdown-button" href="#!" data-activates="dropdown2">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>

			</ul>
				<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>     
		</div>
	</nav> 
	<ul id="dropdown1" class="dropdown-content">
	  <li><a href="#!">one</a></li>
	  <li><a href="#!">two</a></li>
	  <li class="divider"></li>
	  <li><a href="#!">three</a></li>
	</ul>
	<ul id="dropdown2" class="dropdown-content">
	  <li><a href="#!">four</a></li>
	  <li><a href="#!">five</a></li>
	  <li class="divider"></li>
	  <li><a href="#!">six</a></li>
	</ul>
</template>