body{
    
}

input:focus,input:active,input.active{
    border-color: #e25d29 !important;
}

.rightPanel{
    z-index: -1;
    width: 100%;
    position: fixed;
    overflow: auto;
    padding-bottom:50px;
    background-color: #fff;
	font-family: 'Titillium Web', sans-serif;
}

.submit{
    background:transparent;
    border-radius: 0px; 
    border:2px solid #be481a;
    padding:5px;
    text-align: center;
    color: #444444;
    cursor: pointer;
    font-size: 18px;
}

.submit:hover{
    background-color: #be481a !important;
    color: #fff;
}

.subTopHeaderCss{
    text-align:center;
    z-index:1;
    position :fixed;
    width: 100%;
    background:#be481a;
    margin-top: 51px;
}

.loginPageCss{
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    /*background-color: #D1D1D1;*/
    background-color: #fff;
}

.appName_loginPageCss{
    padding: 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: #fff;
    height: 30%;
    width: 100%;
    background: url("/Orange_Texture.jpg") no-repeat;
    background-size: cover;
    background-clip: border-box;
}


/***** ACCOUNT *****/
.setLog_Sign_color{
    margin-bottom: 5px;
}

.loginBackgroundStyle{
    padding: 10px;
 	-webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;

    background-color: #FFF;
    text-align: center;
    top: 0;
    z-index: 10;
    position: absolute;
    top: 20%;
}

.account-form .form-control {
 margin-bottom: 15px;
 padding-left: 40px;
 font-size: 16px;
}

.account-form-text-after {
 margin-top: 10px;
 font-size: 14px;
}

/***** ACCOUNT *****/

.envelopeInside,.lockInside{
    float: left;
    margin-left: 10px;
    margin-top: -45px;
    position: relative;
    z-index: 2;
    color: black;
    font-size: 20px;
}

.boxStyleOnPhone{
    height: 290px;
    width:100%;
    cursor: pointer;
    padding:10px;
    border-bottom: thin solid #E25D29;
}

.boxStyleOnDesktop{
    height: 370px;
    width:100%;
    cursor: pointer;
    padding:10px;
}

.boxStyleOnDesktop:hover{
    border: thin solid #E25D29;
    -webkit-box-shadow: -1px 5px 29px -9px rgba(0,0,0,0.75);
       -moz-box-shadow: -1px 5px 29px -9px rgba(0,0,0,0.75);
            box-shadow: -1px 5px 29px -9px rgba(0,0,0,0.75);
    padding:10px;
},


.productImagesOnDesktop{
    height:60% !important; 
    position: relative;
    z-index: 0;
    width: 100% !important;
}

.productImgCssOnPhone{
    height:50% !important; 
    position: relative;
    z-index: 0;
    width: 50% !important;
}

.productTitle{
    margin-bottom:5px;
}

.productDetails{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 25px;     /* fallback */
   max-height: 75px;      /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.productPrice{
    border-top: 1px dotted #c9c9c9;
    border-bottom: 1px dotted #c9c9c9;
    font-weight: bold;
    padding: 5px 5px 5px 0;
    font-size: 18px;
    color: #D10000;
}

.productCompany {
    max-height: 37px !important;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 9px;
    padding: 0 10px;
}

/*.productCompany ul {
    list-style: none;
    position: relative;
    display: inline-block;
    font-size: 15px;
}

.productCompany ul:after {
    content: ""; 
    clear: both; 
    display: block;
}

.productCompany ul li {
    float: left;
    margin: 0 10px 0 10px;
}

.productCompany ul li .checkbox {
    display: block; 
    padding: 0 15px;
    color: #fff; 
    text-decoration: none;
}*/

input[type=checkbox].css-checkbox {
    position:absolute; 
    z-index:-1000; 
    left:-1000px; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0; 
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:29px;
    height:17px; 
    display:inline-block;
    line-height:17px;
    background-repeat:no-repeat;
    background-position: 0 0;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -17px;
}

label.css-label {
    background-image:url(/csscheckbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label{
    font-weight:normal;
}

.search { 
    position: relative; 
}

.search input { 
    text-indent: 22px;
}

.search .fa-search { 
    position: absolute;
    top: 9px;
    left: 10px;
    font-size: 15px;
    color: #be481a;
}

.search .fa-times { 
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: 15px;
}

.onMobileSearch input{
    margin-top: 10px;
}

.toggleBtn{
    display: none;
}

#mainMenu,.logout,.search{
    display: block;
}


@media screen and (max-width: 1270px){

    .toggleBtn{
        display: block;
    }

    #mainMenu,.logout,.search{
        display: none;
    }

    .rightPanel{
        top: 0;
        width: 100%;
        border: none;
        margin: 0;
    }
}

