<template name="productDetails">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="
    				  {{#if isOnPhone}}
    				  	margin:0;padding:0;width: 70%;
    				  {{else}}
    				     width: 70%;margin: 0% 15% 0% 15%;
    				  {{/if}}">

		{{#each getAllProducts}}
	        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="
										        				{{#if isOnPhone}}
										        					margin:0;padding:0;
										        				{{else}}
										        					padding:5px 5px 2.5px 2.5px;
										        				{{/if}}">
	            <div class="
	            		{{#if isOnPhone}}
	            			boxStyleOnPhone
	            		{{else}}
	            			boxStyleOnDesktop
	            		{{/if}}">
	            	<div class="
	            			{{#if isOnPhone}}
	            				productImgCssOnPhone
	            			{{else}}
	            				productImagesOnDesktop
	            			{{/if}}">
	                	<img src="/product.jpg" height="100%" width="100%">
	            	</div>
	            	<div class="productDiscription" style="text-align: left;color:#666;font-size:13px;">
		                <div class="productTitle">
		                    {{productTitle}}
		                	{{itemName}} {{itemNumber}}
		                </div>
		                <div class="productPrice">
		                    <i class="fa fa-inr"></i> {{productPrice}} /-
		                </div>
		                <div class="productDetails">
		                    {{productDescription}}
		                </div>
	            	</div>
	            </div>
	        </div>
		{{/each}}
    </div>
</template>